* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F3EAE4;
}

.container {
display: flex;
border-width: 1px;
border: solid;
border-color: red;
align-items: center;
width: 60vw;
}

.product-image {
width: 300px;

}

.product-card {

}

.product-info {

}

.add-to-cart-button {

}